<div class="header">
  <input type="file" (change)="onFileChange($event)">
</div>
<div class="content">
  <div class="container">
    <header>
      <h3>Cropper</h3>
      <em>Maxmium Size: {{maxWidth}}px &times; {{maxHeight}}px</em>
    </header>
    <div class="preview cropper-preview">
      <app-image-cropper
        [fileChangeEvent]="fileChangeEvent"
        [maxWidth]="maxWidth"
        [maxHeight]="maxHeight"
        (cropped)="onCropped($event)"
        (loadFailed)="onLoadImageFailed()"></app-image-cropper>
    </div>
  </div>
  <div class="container">
    <header>
      <h3>Cropped Image (original size)</h3>
      <div>
        <div *ngIf="croppedWidth && croppedHeight">
          Cropped Size:&nbsp;
          <span>W: {{croppedWidth}}</span>
          <span>H: {{croppedHeight}}</span>
        </div>
        <div *ngIf="imgPos">
          Cropper Pos:&nbsp;
          <span>({{ imgPos.x1 }}, {{ imgPos.y1 }}) => ({{ imgPos.x2 }}, {{ imgPos.y2 }})</span>
        </div>
        <button *ngIf="croppedImage" (click)="download()">Download</button>
      </div>
    </header>
    <div class="preview result-preview">
      <img *ngIf="croppedImage" [src]="croppedImage" (click)="onClickPreview()">
    </div>
  </div>
</div>
<a id="preview-original-anchor"></a>
<div class="preview-original" *ngIf="croppedImage && showOriginalSize">
  <img [src]="croppedImage" alt="Original size image">
</div>
